<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Hacker News
  body
    h1 Hacker News #{helper.relativeTime(10)}
    ul.news-view.view
      each item in list
        li.item
          a(href=item.url)= item.title
